In [ ]:
# Instalando dependências
!pip install geopy

In [ ]:
!pip install geopandas

In [ ]:
!pip install geocoder

In [146]:
#Setando Bibliotecas
import numpy as np
import folium
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import geocoder
from bokeh.models import ColumnarDataSource
from geopy.geocoders import Nominatim
from shapely.geometry import Point
from geopandas.tools import geocode

Convertendo Único Endereço em Coordenadas de Latitude / Longitude

In [147]:
#Setando Dados API
API_KEY = 'AIzaSyBdfH4t7BK_Pyu3s-ltouwUSa_orzYAQSk' #API para acesso ao Google Maps
geolocator = Nominatim(user_agent = API_KEY)

In [148]:
#Convertendo endereço único
location = geolocator.geocode("Av. Nazaré, 481 - Ipiranga, São Paulo - SP")

In [149]:
#Exibindo Endereço Completo
print(location)

Museu de Zoologia da USP, 481, Avenida Nazaré, Ipiranga, São Paulo, Região Imediata de São Paulo, Região Metropolitana de São Paulo, Região Geográfica Intermediária de São Paulo, São Paulo, Região Sudeste, 04263-000, Brasil

In [150]:
#Exibindo em Latitude e Longitude
print((location.latitude, location.longitude))

(-23.5882038, -46.6103081)

Convertendo Lista de Endereços

In [156]:
#Efetuando Upload Arquvo em Excel
from google.colab import files #Efetuando Upload do Arquivo Excel
upload = files.upload()

Saving Planilha_Modelo.xls to Planilha_Modelo.xls

In [157]:
df = pd.read_excel('Planilha_Modelo.xls', skiprows = 0) #Lendo Arquivo e Removendo Cabeçalho
df

      Tipo                Rua  Numero          Cidade Estado
0  Avenida           Paulista    1578       São Paulo     SP
1      Rua  Comendador Macedo     655        Curitiba     PR
2  Avenida        Afonso Pena    1212          Centro     MG
3      Rua           Bocaiúva    2468   Florianopolis     SC
4      Rua  Afonso Cavalcanti     455  Rio de Janeiro     RJ

In [158]:
#Removendo linhas com Valores Nulos
df = df.dropna()
df

      Tipo                Rua  Numero          Cidade Estado
0  Avenida           Paulista    1578       São Paulo     SP
1      Rua  Comendador Macedo     655        Curitiba     PR
2  Avenida        Afonso Pena    1212          Centro     MG
3      Rua           Bocaiúva    2468   Florianopolis     SC
4      Rua  Afonso Cavalcanti     455  Rio de Janeiro     RJ

In [159]:
#Concatenando Dados
df['Consulta'] = df['Tipo'].astype(str) + ' ' + df['Rua'].astype(str) + ' ' +  df['Numero'].astype(str) + ' ' +  df['Cidade'].astype(str) + ' ' +  df['Estado']
df

      Tipo  ...                                     Consulta
0  Avenida  ...           Avenida Paulista 1578 São Paulo SP
1      Rua  ...        Rua Comendador Macedo 655 Curitiba PR
2  Avenida  ...           Avenida Afonso Pena 1212 Centro MG
3      Rua  ...           Rua Bocaiúva 2468 Florianopolis SC
4      Rua  ...  Rua Afonso Cavalcanti 455 Rio de Janeiro RJ

[5 rows x 6 columns]

In [160]:
df.dropna()
df

      Tipo  ...                                     Consulta
0  Avenida  ...           Avenida Paulista 1578 São Paulo SP
1      Rua  ...        Rua Comendador Macedo 655 Curitiba PR
2  Avenida  ...           Avenida Afonso Pena 1212 Centro MG
3      Rua  ...           Rua Bocaiúva 2468 Florianopolis SC
4      Rua  ...  Rua Afonso Cavalcanti 455 Rio de Janeiro RJ

[5 rows x 6 columns]

In [161]:
#Obtendo Latitude/Longitude
convert_geo = []
endereco = df['Consulta']
for i in endereco:
  geo = geocoder.google(i, key = API_KEY)
  convert_geo.append([i, geo.lat, geo.lng])
df_geo = pd.DataFrame(convert_geo)
df_geo.columns = ['Endereco', 'Latitude', 'Longitude']
df_geo

                                      Endereco   Latitude  Longitude
0           Avenida Paulista 1578 São Paulo SP -23.561517 -46.655961
1        Rua Comendador Macedo 655 Curitiba PR -25.428637 -49.258467
2           Avenida Afonso Pena 1212 Centro MG -19.923700 -43.936313
3           Rua Bocaiúva 2468 Florianopolis SC -27.584916 -48.545008
4  Rua Afonso Cavalcanti 455 Rio de Janeiro RJ -22.911202 -43.205625

In [162]:
#Plotando Gráfico
lat = df_geo['Latitude'].values
long = df_geo['Longitude'].values
mapa = folium.Map(location=[-15.788497,-47.879873],zoom_start='04')
for la,lo in zip(lat,long):
  folium.Marker([la,lo]).add_to(mapa)
mapa